@page
@model OfficeTime.Pages.Admin.Holidays.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HolidayView[0].Datestart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayView[0].Dateend)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayView[0].Pay)
            </th>
            @if(LoginModel.Role == Mapper.RoleAccess.LEAD)
            {
                <th>
                    @Html.DisplayNameFor(model => model.HolidayView[0].Isleadapp)
                </th>
            }
            @if (LoginModel.Role == Mapper.RoleAccess.ADMIN)
            {
                <th>
                    @Html.DisplayNameFor(model => model.HolidayView[0].Isdirectorapp)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.HolidayView[0].Datecreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayView[0].Dateapp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayView[0].Emp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HolidayView) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datestart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pay)
            </td>
            @if(LoginModel.Role == Mapper.RoleAccess.LEAD)
                {
                    <td>
                        @if(item.Isleadapp.HasValue && item.Isleadapp == true)
                        {
                            <label>Согласован</label>
                        }
                        @if(item.Isleadapp.HasValue && item.Isleadapp == false)
                        {
                            <label>Отклонен</label>
                        }
                        @if(!item.Isleadapp.HasValue)
                        {
                            <form method="post">
                            <input type="hidden" name="holidayId" value="@item.Id" disabled/>
                            <input type="hidden" name="isadmin" value="false" disabled />
                                <input type="submit" class="btn btn-info" id="btnSave" value="Согласовать" asp-page-handler="Agree" />
                                <input type="submit" class="btn btn-danger id="btnCancel" value="Отклонить" asp-page-handler="Disgree" />
                            </form>
                        }
                    </td>
                }
                
                @if (LoginModel.Role == Mapper.RoleAccess.ADMIN)
                {
                    <td>
                        @if (item.Isdirectorapp.HasValue && item.Isdirectorapp == true)
                        {
                            <label>Согласован</label>
                        }
                        @if (item.Isdirectorapp.HasValue && item.Isdirectorapp == false)
                        {
                            <label>Отклонен</label>
                        }
                        @if (!item.Isdirectorapp.HasValue)
                        {
                            <form method="post">
                                <input type="hidden" name="holidayId" value="@item.Id" disabled />
                                <input type="hidden" name="isadmin" value="true" disabled />
                                <input type="submit" class="btn btn-info" id="btnSave" value="Согласовать" asp-page-handler="Agree" />
                                <input type="submit" class="btn btn-danger id="btnCancel" value="Отклонить" asp-page-handler="Disgree" />
                            </form>
                        }
                    </td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.Datecreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateapp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
