@page
@model OfficeTime.Pages.Admin.Holidays.IndexModel

@{
    ViewData["Title"] = "График отпусков";
}

<h1>График отпусков</h1>

<p>
    <a asp-page="Create">Создать новый отпуск</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Найти за период:
            <input type="date" name="dateStart" value="@Model.DateStart" />
            <input type="date" name="dateEnd" value="@Model.DateEnd" />
            <input type="submit" value="Найти" class="btn btn-primary" /> |
            <a asp-page="./Index">Вернуться к полному списку</a>
        </p>
    </div>
</form>

@if(LoginModel.Role==Mapper.RoleAccess.ADMIN)
{
    <p>
        <form method="post">
            <button type="submit" class="btn btn-light" asp-page-handler="CreateReport">Сгенерировать приказ об отпусках на месяц</button>
        </form>
        <form method="post">
            <button type="submit" class="btn btn-light" asp-page-handler="CreateYear">Сгенерировать график отпусков на год</button>
        </form>

    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Datestart) *@
                Дата начала
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Dateend) *@
                Дата окончания
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Pay) *@
                Тип
            </th>
            @if(LoginModel.Role == Mapper.RoleAccess.LEAD)
            {
                <th>
                    @* @Html.DisplayNameFor(model => model.HolidayView[0].Isleadapp) *@
                    Подтверждение лидом
                </th>
            }
            @if (LoginModel.Role == Mapper.RoleAccess.ADMIN)
            {
                <th>
                    @* @Html.DisplayNameFor(model => model.HolidayView[0].Isdirectorapp) *@
                    Подтверждение руководителем
                </th>
            }
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Datecreate) *@
                Дата создания
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Dateapp) *@
                Дата подтверждения
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Emp) *@
                Сотрудник
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HolidayView) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datestart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pay)
            </td>
            @if(LoginModel.Role == Mapper.RoleAccess.LEAD)
                {
                    <td>
                        @if(item.Isleadapp.HasValue && item.Isleadapp == true)
                        {
                            <label>Согласован</label>
                        }
                        else
                        {
                            <form method="post">
                                <input type="hidden" name="holidayId" id="holidayId" value=@item.Id  />
                                <input type="hidden" name="isadmin" id="isadmin"  value="false" />
                                <input type="submit" class="btn btn-info" id="btnSave" value="Согласовать" asp-page-handler="Agree"/>
                                <input type="submit" class="btn btn-danger id="btnCancel" value="Отклонить" asp-page-handler="Disgree" />
                            </form>
                        }
                    </td>
                }
                
                @if (LoginModel.Role == Mapper.RoleAccess.ADMIN)
                {
                    <td>
                        @if (item.Isdirectorapp.HasValue && item.Isdirectorapp == true)
                        {
                            <label>Согласован</label>
                        }
                        else
                        {
                            <form method="post">
                                <input type="hidden" name="holidayId" id="holidayId" value="@item.Id" />
                                <input type="hidden" name="isadmin" id="isadmin" value="true" />
                                <input type="submit" class="btn btn-info" id="btnSave" value="Согласовать" asp-page-handler="Agree" />
                                <input type="submit" class="btn btn-danger id="btnCancel" value="Отклонить" asp-page-handler="Disgree" />
                            </form>
                        }
                    </td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.Datecreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateapp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Детали</a>
            </td>
        </tr>
}
    </tbody>
</table>
