@page
@using OfficeTime.Pages.Admin.Employees
@model DetailsLKModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Fio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Fio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Telegram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Telegram)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Yandex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Yandex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Datebirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Datebirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Datestart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Datestart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Post)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Post)
        </dd>
    </dl>
    @if(Model.Employee.IsDelete)
    {
        <p>Вы подали заявление на увольнение от @Model.Employee.DeleteDate.Value.Date</p>
        <form method="post" asp-page-handler="Cancel">
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="Отменить" />
            </div>
        </form>
    }
    else
    {
        <form method="post">
            <div class="form-group">
                <input type="date" id="date" name="date"  />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" value="Подать заявление на увольнение" />
            </div>
        </form>
    }
   
    
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.Id">Edit</a>
</div>
