@page
@model IndexModel
@{
}
<head>
    <script src='https://cdn.plot.ly/plotly-3.0.1.min.js'></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
            ['Месяц', 'Количество отпусков'],
            ['Январь', @Model.CountHoliday[0]],
            ['Февраль', @Model.CountHoliday[1]],
            ['Март', @Model.CountHoliday[2]],
            ['Апрель', @Model.CountHoliday[3]],
            ['Май', @Model.CountHoliday[4]],
            ['Июнь', @Model.CountHoliday[5]],
            ['Июль', @Model.CountHoliday[6]],
            ['Август', @Model.CountHoliday[7]],
            ['Сентябрь', @Model.CountHoliday[8]],
            ['Октябрь', @Model.CountHoliday[9]],
            ['Ноябрь', @Model.CountHoliday[10]],
            ['Декабрь', @Model.CountHoliday[11]]
        ] );

            var options = {
                title: 'Годовое распределение отпусков',
                legend: { position: 'none' },
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>


<body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>

</html>