@page
@model OfficeTime.Pages.Admin.Medicals.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить запись о больничном</h1>

<h3>Вы уверены?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Datestart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Datestart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Dateend)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Dateend)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Datecreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Datecreate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Emp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Emp)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MedicalView.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к общему списку</a>
    </form>
</div>
