@page
@model DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить запись</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Employee.Fio) *@
            ФИО
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Fio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Telegram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Telegram)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Yandex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Yandex)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Employee.Datebirth) *@
            Дата рождения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Datebirth)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Employee.Datestart) *@
            Дата выхода
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Datestart)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.Employee.Post) *@
            Должность
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Post)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employee.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к общему списку</a>
    </form>
</div>
