@page
@model IndexModel

@{
    ViewData["Title"] = "Сотрудники";
}

<h1>Сотрудники</h1>

<p>
    <a asp-page="Create">Создать новую запись</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>ФИО</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Telegram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Yandex)
            </th>
            <th>
                <p>Дата рождения</p>
            </th>
            <th>
                <p>Дата выхода</p>
            </th>
            <th>
                <p>Должность</p>
            </th>
            <th>
                <p>Подал заявление на увольнение</p>
            </th>
            <th>
                <p>Дата увольнения</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telegram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yandex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datebirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datestart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            @if(item.IsDelete)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDelete)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeleteDate)
                    </td>
                }
                else
                {
                    <td>
                    </td>
                    <td>
                    </td>
                }
                
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
