@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Fio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Telegram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Yandex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Datebirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Datestart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].IsDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].DeleteDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telegram)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yandex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datebirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datestart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
