@page
@model OfficeTime.Pages.Admin.Medicals.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MedicalView</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Datestart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Datestart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Dateend)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Dateend)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Datecreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Datecreate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Emp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Emp)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MedicalView.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
