@page
@model OfficeTime.Pages.Admin.Medicals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalView</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Datestart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Datestart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Dateend)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Dateend)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Datecreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Datecreate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalView.Emp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicalView.Emp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MedicalView.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
