@page
@model OfficeTime.Pages.Admin.Holidays.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить запись об отпуске</h1>

<h3>Вы уверены?</h3>
<div>
    <h4>HolidayView</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HolidayView.Datestart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Datestart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HolidayView.Dateend)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Dateend)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HolidayView.Pay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Pay)
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HolidayView.Datecreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Datecreate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HolidayView.Dateapp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Dateapp)
        </dd>

    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="HolidayView.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к общему списку</a>
    </form>
</div>
