@page
@using OfficeTime.Pages.Admin.Holidays
@model DetailsLKModel

@{
    ViewData["Title"] = "Информация";
}

<h1>Информация об отпуске</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.HolidayView.Datestart) *@
            Дата начала
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Datestart)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.HolidayView.Dateend) *@
            Дата окончания
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Dateend)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.HolidayView.Pay) *@
            Тип
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Pay)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.HolidayView.Isleadapp) *@
            Подтверждение лидом
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Isleadapp)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.HolidayView.Isdirectorapp) *@
            Подтверждение руководителем
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Isdirectorapp)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.HolidayView.Datecreate) *@
            Дата создания
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Datecreate)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.HolidayView.Dateapp) *@
            Дата подтверждения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Dateapp)
        </dd>
        <dt class="col-sm-2">
            @* @Html.DisplayNameFor(model => model.HolidayView.Emp) *@
            Сотрудник
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HolidayView.Emp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HolidayView.Id">Изменить</a> |
    <a asp-page="./Index">Вернуться к общему списку</a>
</div>
