@page
@using OfficeTime.Pages.Admin.Holidays
@model IndexLKModel

@{
    ViewData["Title"] = "Отпуска";
}

<h1>Мой график отпусков</h1>

<p>
    <a asp-page="Create">Созать новую запись</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Найти за период:
            <input type="date" name="dateStart" value="@Model.DateStart" />
            <input type="date" name="dateEnd" value="@Model.DateEnd" />
            <input type="submit" value="Найти" class="btn btn-primary" /> |
            <a asp-page="./Index">Вернуться к полному списку</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Datestart) *@
                Дата начала
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Dateend) *@
                Дата окончания
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Pay) *@
                Тип
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Isleadapp) *@
                Подтверждение лидом
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Isdirectorapp) *@
                Подтверждение руководителем
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Datecreate) *@
                Дата создания
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Dateapp) *@
                Дата подтверждения
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.HolidayView[0].Emp) *@
                Сотрудник
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HolidayView) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datestart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateend)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pay)
            </td>
            @if(item.Canceled.HasValue && item.Canceled == true)
                {
                    <td>Отклонен </td>
                    <td/>
                }
            else
            {
                <td>
                    @if(item.Isleadapp == true)
                    {
                            <label>Согласован</label>
                    }
                    else
                    {
                        <label>В процессе</label>
                    }
                </td>
                <td>
                    @if (item.Isdirectorapp == true)
                    {
                        <label>Согласован</label>
                    }
                    else
                    {
                        <label>В процессе</label>
                    }
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Datecreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dateapp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emp)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Информация</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
