@page
@model OfficeTime.Pages.Admin.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PostView</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostView.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostView.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostView.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostView.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostView.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostView.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PostView.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
