@page
@model OfficeTime.Pages.Admin.Posts.IndexModel

@{
    ViewData["Title"] = "Должности";
}

<h1>Должности</h1>

<p>
    <a asp-page="Create">Создать новую должность</a>
</p>
@if (LoginModel.Role == Mapper.RoleAccess.ADMIN)
{
    <form method="post">
        <button type="submit" class="btn btn-light" asp-page-handler="CreateReport">Сгенерировать штатное расписание на полгода</button>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @* @Html.DisplayNameFor(model => model.PostView[0].Name) *@
                Название
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.PostView[0].Rate) *@
                Ставка
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.PostView[0].Count) *@
                Количество сотрудников
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PostView) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Информация</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
